﻿@model todo_application.Models.TodoItem;
@using static todo_application.Models.TodoItemStatus;

<div>
	<h1 class="form-title">Change Status</h1>
	<form class="form" asp-action="changestatus" asp-controller="ToDo">
		<label class="form-label" asp-for="Status">@TodoItemStatus.Completed</label>
		<input type="radio" asp-for=Status value="@TodoItemStatus.Completed"/>
		<br />
		<label class="form-label" asp-for="Status">@TodoItemStatus.InProgress</label>
		<input type="radio" asp-for="Status" value="@TodoItemStatus.InProgress"/>
		<br />
		<label class="form-label" asp-for="Status">@TodoItemStatus.NotStarted</label>
		<input type="radio" asp-for="Status" value="@TodoItemStatus.NotStarted" />
		<br />
		<button class="button" type="submit">Change</button>
		<br />
		<button class="button" type="button" onclick="location.href='@Url.Action("Index", "ToDo")'">Back</button>
	</form>
</div>