﻿@model todo_application.Models.TodoItem;

<div>
	<h1 class="form-title">@ViewBag.ToDoList.Name</h1>
	<form class="form" asp-action="CreateItems" asp-controller="ToDo">
		<div>
			<label class="form-label" asp-for="Title">Title</label>
			<input class="form-input" asp-for="Title" />
		</div>
		<br />
		<div>
			<label class="form-label" asp-for="Description">Description</label>
			<input class="form-input" asp-for="Description" />
		</div>
		<br />
		<div>
			<label class="form-label" asp-for="DueDate">DueDate</label>
			<input class="form-input" type="date" asp-for="DueDate" />
		</div>
		<br />
		<button class="button" type="submit">Add Item</button>
		<br />
		<button class="button" type="button" onclick="location.href='@Url.Action("Index", "ToDo")'">Back</button>
	</form>
	<br />
	<div>
		<ul>List Items: </ul>
		@if (ViewBag.ToDoList.Items.Count == 0)
		{
			<p>no list items yet</p>
		}
		else
		{
			@foreach (var items in ViewBag.ToDoList.Items)
			{
				<li>@items.Title</li>
			}
		}
	</div>
</div>