﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model todo_application.Models.TodoList;
@{

}
<div>
	<h1 class="form-title">Add List</h1>
	<form class="form" asp-action="create" asp-controller="ToDo">
		<label class="form-label" asp-for="Name">Name</label>
		<input class="form-input" asp-for="Name" />
		<button class="button" type="submit">Create</button>
		<br />
		<button class="button" type="button" onclick="location.href='@Url.Action("Index", "ToDo")'">Back</button>
	</form>
</div>