﻿@model todo_application.Models.TodoItem;
@using static todo_application.Models.TodoItemStatus;

<div>
	<h1 class="form-title">Edit item</h1>
	<form class="form" asp-action="edititem" asp-controller="ToDo">
		<input type="hidden" asp-for="TodoList" />
		<div>
			<label class="form-label" asp-for="Title">Title</label>
			<input class="form-input" asp-for="Title" placeholder="@Model.Title" />
		</div>
		<br />
		<div>
			<label class="form-label" asp-for="Description">Description</label>
			<input class="form-input" asp-for="Description" placeholder="@Model.Description" />
		</div>
		<br />
		<div>
			<label class="form-label" asp-for="DueDate">DueDate</label>
			<input class="form-input" type="date" asp-for="DueDate" placeholder="@Model.DueDate" />
		</div>
		<div>
			<label class="form-label" asp-for="Status">Status</label>
			<select class="form-select" name="Status">
				<option value="@TodoItemStatus.NotStarted">@TodoItemStatus.NotStarted</option>
				<option value="@TodoItemStatus.InProgress">@TodoItemStatus.InProgress</option>
				<option value="@TodoItemStatus.Completed">@TodoItemStatus.Completed</option>
			</select>
		</div>
		<button class="button" type="submit">Edit</button>
		<br />
		<button class="button" type="button" onclick="location.href='@Url.Action("Index", "ToDo")'">Back</button>
	</form>
	<br />
	<div>
	</div>
