﻿@model IEnumerable<todo_application.Models.TodoList>

@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="container-title index-title">Hello</h1>
	<p class="container-description index-description">Today you have @Model.ToList().Count tasks</p>
	@foreach (var list in Model)
	{
		<div class="container-index">
			<h2 class="container-index-title">
				<a  asp-action="list" asp-route-listId="@list.Id">@list.Name</a>
				<span class="icon"><a asp-action="edit" asp-route-id="@list.Id">&#9998;</a></span>
			</h2>
			<p>@list.Items?.Count tasks</p>
		</div>
	}
	<p><a class="link index-link" asp-action="create" asp-controller="Todo" >Create list</a></p>
</div>
