﻿@model todo_application.Models.TodoList

@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="container-title">@Model.Name</h1>
	<div class="container-list">
		@foreach (var item in Model.Items)
		{
			<div class="container-list-inner">
				<h2 class="container-list-title">@item.Title</h2>
				<p>@item.Description</p>
				<p>Created on @item.CreationDate</p>
				<p>Due by @item.DueDate</p>
				@if (@item.Status == TodoItemStatus.NotStarted)
				{
					<p class="status-red">
						Not started
						<span class="icon"><a asp-action="changestatus" asp-route-id="@item.Id">&#9998;</a></span>
					</p>
				}
				else if (item.Status == TodoItemStatus.InProgress)
				{
					<p class="status-blue">
						In progress
						<span class="icon"><a asp-action="changestatus" asp-route-id="@item.Id">&#9998;</a></span>
					</p>
				}
				else
				{
					<p class="status-green">
						Completed &#10003;
						<span class="icon"><a asp-action="changestatus" asp-route-id="@item.Id">&#9998;</a></span>
					</p>
				}
				<p class="list-link-p"><a class="list-link link" asp-action="edititem" asp-route-id="@item.Id">Edit list</a></p>
			</div>
		}
	</div>
	<div class="list-buttons">
		<button class="list-button button" type="button" onclick="location.href='@Url.Action("CreateItems", "ToDo", new {listId = Model.Id})'">Add items</button>
		<button class="list-button button" type="button" onclick="location.href='@Url.Action("Index", "ToDo")'">Back</button>
	</div>
</div>
