html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.container-title {
    font-size: 20px;
}

.container-description {
    font-size: 18px;
}

.container-index {
    margin: 5px;
    background-color: cornflowerblue;
    color: whitesmoke;
}

.container-index-title a {
    font-size: 18px;
    text-decoration: none;
    color: whitesmoke;
}
.container-index-title a:hover{
    color:black;
    cursor:pointer;
}

.icon a {
    font-size: 12px;
    text-decoration:none;
}

.container-list {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.container-list > * {
     margin: 20px 1em;
     padding: 5px;
     background-color: cornflowerblue;
     color: whitesmoke;
     box-shadow: lightgray 5px 5px 10px;
}

.container-list-title {
    font-size: 18px;
}
.container-list-inner{
    position:relative;
    padding-top:30px;
}

.link{
    text-decoration:none;
}
.link:hover{
    cursor:pointer;
    color:black;
}
.index-link {
    font-size: 20px;
    color:black;
}
.index-link:hover{
    color:darkgray;
}
.list-link{
    color:white;
}
.list-link:hover{
    color:black;
}
.list-link-p{
    display:block;
    position:absolute;
    top:0px;
    right:5px;

}

.button {
    display: inline-block;
    width: 7em;
    height: 3em;
    padding:3px;
    border: none;
    border-radius: 5px;
    background-color: cornflowerblue;
    color: whitesmoke;
    margin-bottom:3px;
}
.button:hover{
    opacity:0.4;
}
.form{
    margin-top:10px;
}
.form-title{
    font-size:21px;
    font-weight:400;
}
.form-input{
    display:block;
    width:30vw;
    height:2em;
    margin-bottom:1em;
    border:1px darkgray solid;
    box-shadow:whitesmoke 3px 3px 10px;
}
.form-label{
    font-size:18px;
    font-weight:300;
}
.form-select {
    width: 30vw;
    outline: none;
    margin-bottom: 2em;
    border: 1px darkgray solid;
    box-shadow: whitesmoke 3px 3px 10px;
}
.form .button{
    height:2.1em;
}

.status-red{
    color:darkred;
}
.status-blue{
    color:lightblue;
}
.status-green{
    color:darkgreen;
}